* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E7EBF2;
}
.index-top {
    background-color: rgb(31, 17, 156);
    color: white;
    padding: 8px;
}

.index-title {
    font-size: 55px;
    font-weight: bolder;
}

.login-form div {
    display: inline-block;
}

.main-left div {
    color: rgb(31, 17, 156);
    font-size: 30px;
    font-weight: bolder;
    width: 80%;
    margin: auto;
}

.main-left img {
    display: block;
    width: 80%;
    margin: auto;
    object-fit: cover;
}

.signup {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.signup h3, .signup p {
    color: rgb(31, 17, 156);
}